{% extends "layout.twig" %}

{% block content %}

<header class="bk-header clearfix">
    <div class="logo-wrap">
         <div class="wrapper clearfix">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}      
        </div>
    </div>
</header>
<section>
  {{widget('feature', 'featurehome', {"header": "profile", "strapline":"profile","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '50','showBtn': false})|raw}}
</section>
<div class="wrapper clearfix menu-sz">
  <nav class="sz-nav">
    {{widget('extendednavigation', 'navigationheader', {})|raw}}
  </nav>
</div>
<div class="main wrapper clearfix">
    <section class="homemaintext-sz clearfix">
        {{widget('content', 'maintextheader', {"content":"<h2>wellcome!</h2>"})|raw}}
        {{widget('content', 'maintextcontent', {"content":"<p>Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem tortor fringilla sed, vestibulum id, eleifend. Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem tortor fringilla sed, vestibulum id, eleifend. Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem tortor fringilla sed, vestibulum id, eleifend. Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem tortor fringilla sed, vestibulum id, eleifend</p>"})|raw}}
    </section>
    <section class="clearfix">
        <div class="clearfix">
            <div class="widget responsivecolumns columns-two-50-50">
                <div class="column columns-two-left offer">
                    {{widget('image', 'office-image', { 'src': asset('images/atr.png'), 'alt': '', 'fileName': 'atr.png', 'fileSize': '3kb', 'imageSize': '427px x 99px', 'imageWidth': '427px'})|raw}}
                    {{widget('content', 'office-header', {"content":"<h2>Our office.</h2>"})|raw}}
                    {{widget('content', 'office-content', {"content":"<p>Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem tortor fringilla sed, vestibulum id, eleifend</p>"})|raw}}
                    {{widget('button', 'office-button2', {text:'show more', 'align':'widget-align-right'})|raw}}
                </div>
                <div class="column columns-two-right benefits">
                    {{widget('image', 'people-image', { 'src': asset('images/atr.png'), 'alt': '', 'fileName': 'atr.png', 'fileSize': '3kb', 'imageSize': '427px x 99px', 'imageWidth': '427px'})|raw}}
                    {{widget('content', 'people-header', {"content":"<h2>Our people.</h2>"})|raw}}
                    {{widget('content', 'people-content', {"content":"<p>Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem tortor fringilla sed, vestibulum id, eleifend</p>"})|raw}}
                    {{widget('button', 'people-button2', {text:'show more;', 'align':'widget-align-right'})|raw}}
                </div>
            </div>
        </div>        
    </section>
    <section class="listintext-sz clearfix">
        {{widget('content', 'listintextheader', {"content":"<h2>Who we are?</h2>"})|raw}}
        {{widget('content', 'listintextcontent', {"content":"<p>Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem tortor fringilla sed, vestibulum id, eleifend. Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem tortor fringilla sed, vestibulum id, eleifend. Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem tortor fringilla sed, vestibulum id, eleifend. Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem tortor fringilla sed, vestibulum id, eleifend</p>"})|raw}}
    </section> 
    {{zone('main')|raw}}
</div>
<footer class="bk-footer">
    <div class="wrapper clearfix">
                {{widget('content', 'contactformheader', {"content":"<h2>Contact us</h2>"})|raw}}
                {{widget('content', 'contactformcontent', {"content":"<p>Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem tortor fringilla sed, vestibulum id, eleifend</p>"})|raw}}
                {{widget('contactform', 'contactform', {'text': 'Send;','formTitle': 'Contact Form', 'email': 'profile'})|raw}}
    </div>
    <div class="wrapper clearfix">
        <div class="responsivecolumns columns-four-25-25-25-25">
            <div class="column columns-four-first f-phone">
                {{widget('profile', 'f-phone', { 'profileType':'phone', 'phone':'profile'})|raw}}                            
            </div>
            <div class="column columns-four-second f-mail">
                {{widget('profile', 'f-mail', { 'profileType':'email', 'email':'profile'})|raw}}
            </div>
            <div class="column columns-four-third f-address">
                {{widget('profile', 'f-address', { 'profileType':'address', 'address':'profile'})|raw}}
            </div>
            <div class="column columns-four-fourth f-time">
                {{widget('content', 'f-time', {content: 'pon-pt : 8:00-17:00', lines: 'all'})|raw}}
            </div>            
        </div>            
    </div>
</footer>
<section>
  <div class="copy-sz">
    <div class="wrapper clearfix">
        {{widget('image', 'headercolumn3image', { 'src': asset('images/logo-footer.png'), 'alt': 'logo', 'fileName': 'logo-footer.png', 'fileSize': '3kb', 'imageSize': '53px x 23px', 'imageWidth': '53px'})|raw}}
    </div>
    <div class="wrapper clearfix f-socialicons">
        {{widget('profile', 'f-socialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
    </div>
  </div>
</section>
{% endblock %}
